h1{
    text-align: center;
    font-family: "Inconsolata", monospace;
}
p {
    text-align: center;
    font-family: "Inconsolata", monospace;
    font-size: 150%;
    margin-left: 10%; 
    margin-right: 10%; 
}



.img-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 100%; 
    max-height: 100%; 
}

.img-container img {
    max-width: 100%; 
    max-height: 100%; 
    height: auto; 
    width: auto; 
}

a:link {
    color: darkred;
}

a:visited {
    color: rgb(98, 113, 97);
}

a:hover {
    color: rgb(127, 83, 83);
}

a:active {
    color: rgb(189, 27, 27);
}
  